
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .title {
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 24px;
    color: #007bff;
  }
  
  .Temperature-icon {
    font-size: 36px;
    color: #007bff;
  }
  
  #celsius, #fahrenheit, #kelvin {
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  input[type="number"] {
    width: 100%;
    padding: 10px;
    border: none;
  }
  
  .icon {
    font-size: 20px;
    margin-left: 5px;
    color: #555;
  }
  
  .button {
    margin-top: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .container {
    border: 2px solid #007bff;
  }
  